extends ../_layout

block active
  - sidebar_active = 'trades.html'

block content
  
  .row
    .col-xs-12.col-md-8.col-lg-9.buysell-block

      // START buysell tab
      #buysell.panel.panel-transparent(role='tabpanel')
        // Nav tabs
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a.bb0(href='#buy', aria-controls='buy', role='tab', data-toggle='tab', data-localize="trades.BUY")
          li(role='presentation')
            a.bb0(href='#sell', aria-controls='sell', role='tab', data-toggle='tab', data-localize="trades.SELL")
        // Tab panes
        .tab-content
          #buy.tab-pane.active(role='tabpanel') 
            .container-fluid
              .row
                .col-lg-12
                    .table-responsive
                      table#ordersBuy.table.table-striped
                        thead
                          tr
                            th.message
                              .icon-message
                            th(data-localize="trades.ORDER").order_name
                            th.btc BTC
                            th(data-localize="trades.AMOUNT").amount
                            th(data-localize="trades.COUNTRY").country
                            th(data-localize="trades.STATUS").status
                            th(data-localize="trades.DATE").date 
                            th.full-info  
                        tbody
            .panel-footer
              button.btn.btn-orange.btn-lg(href='#', data-localize="trades.CREATE_ORDER" data-action="create_order_buy")
              #create_order_buy(style="display:none")
                .pull-right.hide_it
                  em.icon-up-arrow
                  span(data-localize="trades.HIDE")
                .line.title(data-localize="trades.popup.BUY")
                .line.country.clearfix
                  .plus 
                    label
                      select#country-list-buy-filter.delay-selector
                        option(value='' data-localize="trades.popup.COUNTRY")  
                        option(value='США') США  
                        option(value='Франция') Франция
                        option(value='Россия') Россия  
                        option(value='Израиль') Израиль
                        option(value='Китай') Китай
                        option(value='Великобритания') Великобритания
                .line.countries.gray.clearfix(style="display:none")
                  ul#country-list-buy.col.sortable
                  .col2
                    .text(data-localize="trades.popup.PRIORITY1")
                .line.payments.clearfix
                  .plus 
                    label
                      select#payment-list-buy-filter.delay-selector
                        option(value='', data-localize="trades.popup.METHOD") 
                        option(value='Сбербанк') Сбербанк
                        option(value='Yandex Money') Yandex Money
                        option(value='Webmoney') Webmoney
                        option(value='Альфа-банк') Альфа-банк
                        option(value='Western Union') Western Union
                        option(value='Paypal') Paypal
                        option(value='Bank Of America') Bank Of America
                .line.gray.clearfix(style="display:none")
                  ul#payment-list-buy.payments.sortable
                  .text(data-localize="trades.popup.PRIORITY1")
                .line.currency.clearfix
                  .plus 
                    label.control-label
                      select#currencies-list-buy-filter.delay-selector.form-control
                        option(value='', data-localize="trades.popup.CUR")
                        option(value='RUB') RUB
                        option(value='USD') USD
                        option(value='EUR') EUR
                        option(value='DKK') DKK
                        option(value='ZAR') ZAR
                        option(value='RON') RON
                        option(value='JPY') JPY
                        option(value='CNY') CNY
                    .col2
                      .text(data-localize="trades.popup.CURTEXT") 
                .line.currencies.gray.clearfix(style="display:none")
                  ul#currencies-list-buy.col.sortable
                  .col2
                    .text(data-localize="trades.popup.PRIORITY1")
                #currencies-list-buy-inputs.line.clearfix.inputs
                  .BTC-field.clearfix
                    .col
                      span(data-localize="trades.popup.LABEL1")
                      input.form-control.input-sm(value='1', type="text")
                    .col2
                      span
                        span(data-localize="trades.popup.LABEL_FEE2")
                        span (
                        span.percent 0.02
                        span BTC)
                      input.form-control.input-sm.with_fee(value='0.98', type="text")

                .line.green(data-localize="trades.popup.PERCENT")
                .line.settings.clearfix
                  button.col.btn.btn-orange.btn-lg(href='#', data-localize="trades.CREATE_ORDER")
                  a(href="#", class="arrow", data-localize="trades.popup.SETTINGS")
                  br
                  a(href="#" data-localize="trades.popup.DEFAULTS")
                .settings-panel(style="display:none")
                  .close-settings
                    em.icon-left-arrow
                    span(data-localize="trades.popup.HIDESETTINGS")
                  .line.others.clearfix
                    .time-react
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEREACT") 
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .time-confirm
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEWAIT")
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .time-buy
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEBUY")
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .main-currency
                      select.delay-selector
                        option(value='USD') USD
                        option(value='RUB') RUB
                        option(value='JPY') JPY

          #sell.tab-pane(role='tabpanel') 
            .container-fluid
              .row
                .col-lg-12
                    .table-responsive
                      table#ordersSell.table.table-striped
                        thead
                          tr
                            th.message
                              .icon-message
                            th(data-localize="trades.ORDER").order_name
                            th.btc BTC
                            th(data-localize="trades.AMOUNT").amount
                            th(data-localize="trades.COUNTRY").country
                            th(data-localize="trades.STATUS").status
                            th(data-localize="trades.DATE").date 
                            th(style='width:7%').full-info  
                        tbody
            .panel-footer
              button.btn.btn-orange.btn-lg(href='#', data-localize="trades.CREATE_ORDER" data-action="create_order_sell")
              #create_order_sell(style="display:none")
                .pull-right.hide_it(data-tool="popup-hide")
                  em.icon-up-arrow
                  span(data-localize="trades.HIDE")
                .line.title(data-localize="trades.popup.SELL")
                .line.country.clearfix
                  .plus 
                    label
                      select#country-list-sell-filter.delay-selector
                        option(value='' data-localize="trades.popup.COUNTRY")  
                        option(value='США') США  
                        option(value='Франция') Франция
                        option(value='Россия') Россия  
                        option(value='Израиль') Израиль
                        option(value='Китай') Китай
                        option(value='Великобритания') Великобритания
                .line.countries.gray.clearfix(style="display:none")
                  ul#country-list-sell.col.sortable
                  .col2
                    .text(data-localize="trades.popup.PRIORITY1")
                .line.payments.clearfix
                  .plus 
                    label
                      select#payment-list-sell-filter.delay-selector
                        option(value='', data-localize="trades.popup.METHOD") 
                        option(value='Сбербанк') Сбербанк
                        option(value='Yandex Money') Yandex Money
                        option(value='Webmoney') Webmoney
                        option(value='Альфа-банк') Альфа-банк
                        option(value='Western Union') Western Union
                        option(value='Paypal') Paypal
                        option(value='Bank Of America') Bank Of America
                .line.gray.clearfix(style="display:none")
                  ul#payment-list-sell.payments.sortable
                  .text(data-localize="trades.popup.PRIORITY1")
                .line.currency.clearfix
                  .plus 
                    label.control-label
                      select#currencies-list-sell-filter.delay-selector.form-control
                        option(value='', data-localize="trades.popup.CUR")
                        option(value='RUB') RUB
                        option(value='USD') USD
                        option(value='EUR') EUR
                        option(value='DKK') DKK
                        option(value='ZAR') ZAR
                        option(value='RON') RON
                        option(value='JPY') JPY
                        option(value='CNY') CNY
                    .col2
                      .text(data-localize="trades.popup.CURTEXT") 
                .line.currencies.gray.clearfix(style="display:none")
                  ul#currencies-list-sell.col.sortable
                  .col2
                    .text(data-localize="trades.popup.PRIORITY1")
                #currencies-list-sell-inputs.line.clearfix.inputs
                  .BTC-field.clearfix
                    .col
                      label
                        span(data-localize="trades.popup.LABEL1")
                        input.form-control.input-sm(value='1')
                    .col2
                      label
                        span
                          span(data-localize="trades.popup.LABEL_FEE")
                          span (0.02
                          span BTC)
                        input.form-control.input-sm.with-fee(value='0.98')

                .line.green(data-localize="trades.popup.PERCENT")
                .line.settings.clearfix
                  button.col.btn.btn-orange.btn-lg(href='#', data-localize="trades.CREATE_ORDER")
                  a(href="#", class="arrow", data-localize="trades.popup.SETTINGS")
                  br
                  a(href="#" data-localize="trades.popup.DEFAULTS")
                .settings-panel(style="display:none")
                  .close-settings
                    em.icon-left-arrow
                    span(data-localize="trades.popup.HIDESETTINGS")
                  .line.others.clearfix
                    .time-react
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEREACT") 
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .time-confirm
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEWAIT")
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .time-buy
                      select.delay-selector
                        option(value='' data-localize="trades.popup.TIMEBUY")
                        option(value='3600') 1 Час
                        option(value='7200') 2 Часа
                    .main-currency
                      select.delay-selector
                        option(value='USD') USD
                        option(value='RUB') RUB
                        option(value='JPY') JPY
          
          // START buysell popup
          .buysell_popup.template.clearfix(role='buysellpopup' style="display:none")
            .clearfix(data-tool="popup-hide")
              .pull-left.hide_it
                em.icon-up-arrow
                span(data-localize="trades.HIDE")
              .pull-right
                em.icon-cross
            .offset.title Заявка на покупку B8655
            .order.clearfix
              .column.message
                .th
                em.icon-message
              .column.date
                .th(data-localize="trades.DATE")
                .day 12.07.15
              .column.btc
                .th(data-localize="trades.AMOUNT_BUY")
                | 300 BTC
              .column.amount
                .th(data-localize="trades.AMOUNT_PAY")
                | 123 130 000 USD
              .column.status
                .th(data-localize="trades.STATUS")
                span(data-localize="trades.statuses.WAITCOMPLETE")
              .column.author
              .column.payment

            .offset.pretitle(data-localize="trades.ORDERSBUY")
            
            .line

            .order.to-open.closed.clearfix
              .clearfix.close-line
                .pull-left.column.offset
                  .order-name О284734743
                  .tip Нажмите на заявку для подробного описания
                .pull-right.close-order
                  em.icon-up-arrow
                  span(data-localize="trades.HIDE_ORDER")
              .column.message
                .th
                .label.label-transparent 10
              .column.date
                .th(data-localize="trades.DATE")
                .day 12.07.15
                span.adds Еще 15 минут
              .column.btc
                .th(data-localize="trades.AMOUNT_BUY")
                | + 100
              .column.amount
                .th(data-localize="trades.AMOUNT_PAY")
                | 382 325 USD
              .column.status
                .th(data-localize="trades.STATUS")
                span(data-localize="trades.statuses.SENDED")
              .column.author
                .th(data-localize="trades.AUTHOR")
                .status.online
                .name Steve Collins
                .rating (30+,  100,  A+)
              .column.payment
                .th(data-localize="trades.PAYMENT_METHOD")
                em.icon-shield.green
                span(data-localize="payments.types.BANK")
              .payment_methods.clearfix
                .col-xs-6
                  .requisites
                    .name На Сбербанк
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
                .col-xs-6
                  .requisites
                    .name На ВТБ
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
              .footer.clearfix
                .elements
                  .functions
                    a.clear-all(href="", data-localize="trades.CLEARALL")
                    button.field.btn.btn-transparent(data-localize="trades.TIMERDALAY")
                    .drop
                      label.control-label
                        select.delay-selector.form-control
                          option(value='1800' data-localize="trades.05HOURS")
                          option(value='3600' data-localize="trades.1HOURS")
                          option(value='7200' data-localize="trades.2HOURS")
                          option(value='10800' data-localize="trades.3HOURS")
                          option(value='14400' data-localize="trades.4HOURS")
                  button.btn.btn-orange.btn-sm(href='#', data-localize="trades.CONFIRMPAYMENT")
            
            .line
            
            .order.to-open.closed.clearfix
              .clearfix.close-line
                .pull-left.column.offset
                  .order-name О284734743
                  .tip Нажмите на заявку для подробного описания
                .pull-right.close-order
                  em.icon-up-arrow
                  span(data-localize="trades.HIDE_ORDER")
              .column.message
                .th
                .label.label-danger 2
              .column.date
                .th(data-localize="trades.DATE")
                .day 12.07.15
                span.adds Еще 15 минут
              .column.btc
                .th(data-localize="trades.AMOUNT_BUY")
                | + 200
              .column.amount
                .th(data-localize="trades.AMOUNT_PAY")
                | 586 923 USD
              .column.status
                .th(data-localize="trades.STATUS")
                span(data-localize="trades.statuses.WAITPAYMENT")
                a.adds(href="#", data-localize="trades.DONTSEND")
              .column.author
                .th(data-localize="trades.AUTHOR")
                .status.offline
                .name Иванов Сергей
                .rating (3,  15,  B-)
              .column.payment
                .th(data-localize="trades.PAYMENT_METHOD")
                em.icon-shield.gray
                span(data-localize="payments.types.BANK")
              .payment_methods.clearfix
                .col-xs-6
                  .requisites
                    .name На Сбербанк
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
                .col-xs-6
                  .requisites
                    .name На ВТБ
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
              .footer.clearfix
                .elements
                  .functions
                    a.clear-all(href="", data-localize="trades.CLEARALL")
                    button.field.btn.btn-transparent(data-localize="trades.TIMERDALAY")
                    .drop
                      label.control-label
                        select.delay-selector.form-control
                          option(value='1800' data-localize="trades.05HOURS")
                          option(value='3600' data-localize="trades.1HOURS")
                          option(value='7200' data-localize="trades.2HOURS")
                          option(value='10800' data-localize="trades.3HOURS")
                          option(value='14400' data-localize="trades.4HOURS")
                  button.btn.btn-gray.btn-sm(href='#', data-localize="trades.PAID")
                  .confirm
                    .col-xs-12.col-md-4
                      label.control-label Загрузите подтверждение
                    .file.col-xs-12.col-md-4
                      input.filestyle(type='file', data-classbutton='btn btn-transparent btn-sm', data-classinput="inline", data-buttonText="Add")
                    .file.col-xs-12.col-md-4
                      input.filestyle(type='file', data-classbutton='btn btn-transparent btn-sm', data-classinput="inline", data-buttonText="Add")

            .line
            
            .order.to-open.closed.clearfix
              .clearfix.close-line
                .pull-left.column.offset
                  .order-name О284734743
                  .tip Нажмите на заявку для подробного описания
                .pull-right.close-order
                  em.icon-up-arrow
                  span(data-localize="trades.HIDE_ORDER")
              .column.message
                .th
                .label.label-danger 2
              .column.date
                .th(data-localize="trades.DATE")
                .day 12.07.15
                span.adds Еще 15 минут
              .column.btc
                .th(data-localize="trades.AMOUNT_BUY")
                | + 200
              .column.amount
                .th(data-localize="trades.AMOUNT_PAY")
                | 586 923 USD
              .column.status
                .th(data-localize="trades.STATUS")
                span(data-localize="trades.statuses.WAITPAYMENT")
                a.adds(href="#", data-localize="trades.DONTSEND")
              .column.author
                .th(data-localize="trades.AUTHOR")
                .status.offline
                .name Иванов Сергей
                .rating (3,  15,  B-)
              .column.payment
                .th(data-localize="trades.PAYMENT_METHOD")
                em.icon-shield.gray
                span(data-localize="payments.types.BANK")
              .payment_methods.clearfix
                .col-xs-6
                  .requisites
                    .name На Сбербанк
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
                .col-xs-6
                  .requisites
                    .name На ВТБ
                    .bordered
                      .info БИК:  040147781<br>Российская Федерация<br>Корр. счет: 30101810200000000604<br>АЛТАЙСКОЕ ОТДЕЛЕНИЕ N8644<br>ПАО СБЕРБАНК, БАРНАУЛ
                      .send 
                        span(data-localize="trades.TOSEND") 
                        |&nbsp;&nbsp;382 325 345 RUB
                        br
                        span(data-localize="trades.SEND")
                        label
                          input.form-control.input-sm
                        a(href="", data-localize="trades.ALL")
              .footer.clearfix
                .elements
                  .functions
                    a.clear-all(href="", data-localize="trades.CLEARALL")
                    button.field.btn.btn-transparent(data-localize="trades.TIMERDALAY")
                    .drop
                      label.control-label
                        select.delay-selector.form-control
                          option(value='1800' data-localize="trades.05HOURS")
                          option(value='3600' data-localize="trades.1HOURS")
                          option(value='7200' data-localize="trades.2HOURS")
                          option(value='10800' data-localize="trades.3HOURS")
                          option(value='14400' data-localize="trades.4HOURS")
                  button.btn.btn-gray.btn-sm(href='#', data-localize="trades.PAID")
                  .confirm
                    .col-xs-12.col-md-4
                      label.control-label Загрузите подтверждение
                    .file.col-xs-12.col-md-4
                      input.filestyle(type='file', data-classbutton='btn btn-transparent btn-sm', data-classinput="inline", data-buttonText="Add")
                    .file.col-xs-12.col-md-4
                      input.filestyle(type='file', data-classbutton='btn btn-transparent btn-sm', data-classinput="inline", data-buttonText="Add")
            
          // END buysell popup

      // END buysell tab        
    
    .col-xs-12.col-md-4.col-lg-3.payment-block
        
        // START payment top panel
        #paymentTop.panel.panel-transparent.remove
          .title
            span(data-localize="payments.TITLE")
            em(href="#", data-tool="panel-dismiss").pull-right.close-panel.icon-cross.hidden-lg.hidden-md
          .box-placeholder
            label.control-label
              select.delay-selector.form-control(name="top_country")
                option(value='' data-localize="countries.ALL")
                option(value='england' data-localize="countries.ENGLAND")
                option(value='usa' data-localize="countries.USA")
                option(value='russia' data-localize="countries.RUSSIA")
                option(value='china' data-localize="countries.CHINA")
              em.icon-cross(style="display:none")
            label.control-label
              select.delay-selector.form-control(name="top_payment")
                option(value='' data-localize="payments.ALL")
                option(value='sberbank' data-localize="payments.SBERBANK")
                option(value='alphabank' data-localize="payments.ALPHABANK")
                option(value='webmoney' data-localize="payments.WEBMONEY")
                option(value='wu' data-localize="payments.WU")
                option(value='vtb' data-localize="payments.VTB")
                option(value='pkb' data-localize="payments.PKB")
                option(value='anotherbank' data-localize="payments.ANOTHERBANK")
              em.icon-cross(style="display:none")
          // START table-responsive
          .table-responsive
            table.table
              tbody
                tr
                  td
                  td
            // END table-responsive
          .other
            span.icon-down-arrow
            span(data-localize="payments.OTHER")
        // END payment top panel
  
  .row
    .col-xs-12.col-lg-9
      #orders.panel.panel-transparent(role='tabpanel')
        // Nav tabs
        ul.nav.nav-tabs.nav-justified(role='tablist')
          li.active(role='presentation')
            a.bb0(href='#orders-buy', aria-controls='buy', role='tab', data-toggle='tab', data-localize="trades.ORDERSBUY")
          li(role='presentation')
            a.bb0(href='#orders-sell', aria-controls='sell', role='tab', data-toggle='tab', data-localize="trades.ORDERSSELL")
        // Tab panes
        .orders-tabs.tab-content
          #orders-buy.tab-pane.active(role='tabpanel') 
            .container-fluid
              .row
                .col-lg-12
                  .table-responsive
                    table#orders-buy-table.table
                      thead
                        tr
                          th(data-localize="trades.PRICE").price
                          th(data-localize="trades.AMOUNTBTC").amount
                          th(data-localize="trades.PAYMENTSYSTEM").payment
                          th(data-localize="trades.SELLER").seller
                          th(data-localize="trades.RATING").rating
                          th.buy_button
                      tbody 
          #orders-sell.tab-pane(role='tabpanel') 
            .container-fluid
              .row
                .col-lg-12
                    .table-responsive
                      table#orders-sell-table.table
                        thead
                          tr
                            th(data-localize="trades.PRICE").price
                            th(data-localize="trades.AMOUNTBTC").amount
                            th(data-localize="trades.PAYMENTSYSTEM").payment
                            th(data-localize="trades.SELLER").seller
                            th(data-localize="trades.RATING").rating
                            th.buy_button
                        tbody
            .panel-footer
              a.btn.btn-orange.btn-lg(href='#', data-localize="trades.CREATE_ORDER")

  .row
    .col-xs-12
      button.btn.btn-default(type="button", data-notify="", data-message="Вы завершили сделку с <a id=\"popup_username\" href=\"#\">Serj1597</a><br>Оставьте <a href=\"#\">отзыв</a> о работе с ним." data-options='{"pos":"bottom-right"}') Сообщение о сделке

block vendor_css
  // DATATABLES
  link(rel='stylesheet', href='../vendor/datatables-colvis/css/dataTables.colVis.css')
  link(rel='stylesheet', href='vendor/datatable-bootstrap/css/dataTables.bootstrap.css')

  // SELECT2
  link(rel='stylesheet', href='../vendor/select2/dist/css/select2.css')

block vendor_js
  // DATATABLES
  script(src='../vendor/datatables/media/js/jquery.dataTables.min.js')
  script(src='../vendor/datatables-colvis/js/dataTables.colVis.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrap.js')
  script(src='vendor/datatable-bootstrap/js/dataTables.bootstrapPagination.js')

  // SELECT2
  script(src='../vendor/select2/dist/js/select2.js')

  // FILESTYLE
  script(src='../vendor/bootstrap-filestyle/src/bootstrap-filestyle.js')

  // SORTABLE
  script(src='../vendor/html.sortable/dist/html.sortable.js')

  // MATCH HEIGHT
  script(src='../vendor/jquery-match-height-master/dist/jquery.matchHeight.js')

  // SLIM SCROLL
  script(src='../vendor/slimScroll/jquery.slimscroll.min.js')
