.footer
	.container
		.col-xs-6.col-md-4.left
			img.img-responsive(src="img/logo_gray.svg", alt="Exall - Bitcoin everywhere")
			p DISCLAIMER: Bitcoin and crypto currencies prices are volatile and fluctuate day-to-day. Trading in these crypto currencies may be considered a high risk activity.Proper and sound judgement should be used in evaluating the risks associated with these activities. ANX does not solicit nor make any representation that crypto currencies are an investment vehicle. <br> The decision to trade crypto currencies rests entirely on the users own independent judgement.
		.col-xs-6.col-md-5
			ul
				li
					a About
				li
					a How it works?
				li
					a Limits
				li
					a Safety
				li
					a Feedback
				li
					a News

			ul
				li
					a FAQ
				li
					a Support
				li
					a Terms of use
				li
					a Partnership
				li
					a Login

		.col-xs-12.col-md-3
			.social
				<span class="icon-youtube"></span>
				<span class="icon-twitter"></span>
				<span class="icon-facebook"></span>
			form
				label(for="subscribe") Subscribe for a newsletter:
				input(id="subscribe" type="email" placeholder="Your email")

.prefooter
	.container
		.col-xs-8.images
			img.img-responsive(src="img/bitgo.jpg", alt="BitGO")
			img.img-responsive(src="img/cloudflare.jpg", alt="CloudFlare")
			img.img-responsive(src="img/bitcoinaverage.jpg", alt="BitcoinAverage")
		.col-xs-4.copyright
			| © "ExAll", 2015