.footer.clearfix
	.container-fluid
		.col-xs-12.col-md-3.col-lg-3.left
			img.light_version.img-responsive(src="img/exall_beta.svg", alt="Exall - Bitcoin everywhere")
			img.dark_version.img-responsive(src="img/exall_beta.svg", alt="Exall - Bitcoin everywhere")
			p DISCLAIMER: Bitcoin and crypto currencies prices are volatile and fluctuate day-to-day. Trading in these crypto currencies may be considered a high risk activity.Proper and sound judgement should be used in evaluating the risks associated with these activities. ExAll does not solicit nor make any representation that crypto currencies are an investment vehicle. <br> The decision to trade crypto currencies rests entirely on the users own independent judgement.
		.col-xs-12.col-md-9.col-lg-8
			.row
				.col-xs-6
					.social
						label Мы в соцсетях –
						span.icon-youtube
						span.icon-twitter
						span.icon-facebook
				.col-xs-6
					form
						label(for="subscribe") Subscribe for a newsletter:
						input(id="subscribe" type="email" placeholder="Your email")
			.row
				ul.col-xs-3.col-md-2
					li.title Информация
					li
						a О нас
					li
						a Как работает
					li
						a Безопасность
					li
						a Комиссии
				ul.col-xs-5.col-md-3
					li.title
					li
						a Новости
					li
						a Отзывы
					li
						a Форум
					li
						a Партнерская программа
				ul.col-xs-4.col-md-2
					li.title Помощь
					li
						a FAQ
					li
						a Инструкции
					li
						a Тех поддержка
					li
						a Свяжитесь с нами 
				ul.col-xs-8.col-md-3
					li.title Документы
					li
						a Условия использования
					li
						a Пользовательское соглашение
					li
						a Политика конфиденциальности
					li
						a Партнерское соглашение
				ul.col-xs-4.col-md-2
					li.title
						a Торговые предложения

.prefooter.clearfix
	.container-fluid
		.col-xs-8.images
			img.img-responsive(src="img/bitgo.png", alt="BitGO")
			img.img-responsive(src="img/cloudflare.png", alt="CloudFlare")
			img.img-responsive(src="img/bitcoinaverage.png", alt="BitcoinAverage")
		.col-xs-4.copyright
			| © "ExAll", 2016