// START Off Sidebar (right)
nav
  .profile
    label.switch.switch-sm
      em.icon-sun
      input#chk-fixed(type='checkbox', data-load-css="css/theme-black.css")
      span
      em.icon-moon
    .content
      .name Константин Константинопольский
      ul.circles
        li
          .circle 78
          | Рейтинг
        li.bold
          .circle D+
          | Trust score
        li
          .circle 12
          | Сделок
    .line
    ul.menu
      li 
        em.icon-edit
        a(href="") Мои данные
      li 
        em.icon-partner
        a(href="") Партнерская программа
      li 
        em.icon-favorite
        a(href="") Избранное
      li 
        em.icon-blacklist
        a(href="") Черный список
    .line

    ul.menu
      li
        em.icon-exit
        a(href="") Выйти

// END Off Sidebar (right)