// START Off Sidebar (right)
nav
  .profile
    label.switch.switch-sm
      em.icon-sun
      input#chk-fixed(type='checkbox', data-load-css="css/theme-black.css")
      span
      em.icon-moon
    .content
      .name Константин Константинопольский
      ul.circles
        li
          a(href="#")
            .circle 78
            | Рейтинг
        li
          a(href="#")
            .circle D+
            | Trust score
        li
          a(href="#")
            .circle 12
            | Сделок
    .line
    ul.menu
      li 
        em.icon-edit
        a(href="#") Мои данные
      li 
        em.icon-favorite
        a(href="#") Избранное
      li 
        em.icon-blacklist
        a(href="#") Черный список
    .line

    ul.menu
      li
        .clearfix
          .pull-left
            em.icon-exit
            a(href="") Выйти
          .pull-right
            .leng
              .lenguage_changer(data-toggle="dropdown")
                span.lang(data-localize="topbar.current_lenguage")
                span.icon-down-arrow
              ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
                li
                  a(href='#', data-set-lang="en") English
                li
                  a(href='#', data-set-lang="ru") Russian


// END Off Sidebar (right)