// START Top Navbar
nav.navbar.topnavbar(role='navigation')
    // START navbar header
    .navbar-header
      a.navbar-brand(href='#', data-toggle-state="aside-collapsed aside-toggled", data-no-persist="true") 
        .brand-logo
          img.img-responsive(src="img/logo.svg", alt="Exall - Bitcoin everywhere")
        .brand-logo-collapsed
          // Button used to collapse the left sidebar. Only visible on tablet and desktops
          img.img-responsive(src="img/small_logo.svg", alt="Exall - Bitcoin everywhere", href='#', data-toggle-state="aside-collapsed").hidden-xs
          // Button to show/hide the sidebar on mobile. Visible on mobile only.
          img.img-responsive(src="img/small_logo.svg", alt="Exall - Bitcoin everywhere", href='#', data-toggle-state="aside-toggled", data-no-persist="true").visible-xs.sidebar-toggle
    // END navbar header

    // START Nav wrapper
    .nav-wrapper

      // START Right Navbar
      ul.nav.navbar-nav.navbar-right
        // Wallet icon
        li.wallet-opener
          .wallet
            em.icon-wallet
            | 2.43567823
          .wallet-dropdown.dropdown-menu.dropdown-menu-right.animated.fadeIn
            .line
              | 0.23646723
              span(data-localize="topbar.confirmation") 
            .line
              | 0.23646723
              span(data-localize="topbar.deposited")
        // Notification icon
        li.notification
          .label.label-danger 16
          .dropdown-menu.animated.fadeIn
            ul
              li
                a(href="#") Уведомление о чем-то интересном
                em.icon-cross
              li
                a(href="#") Уведомление о чем-то
                em.icon-cross
              li
                a(href="#") Уведомление о чем-то интересном и длинное такое
                em.icon-cross
              li
                a(href="#") Уведомление о чем-то интересном
                em.icon-cross
            .footer.clearfix
              .pull-left
                label.switch.switch-sm
                  em.icon-sound-on.active
                  input#chk-sound(type='checkbox')
                  span
                  em.icon-sound-off
              .pull-right
                em.icon-up-arrow
                span(data-localize="trades.HIDE")
        // Profile icon
        li
          .profile.offsidebar-toggle(data-toggle-state="offsidebar-open", data-no-persist="true")
            img.img-responsive(src="img/user/02.jpg", alt="User avatar")

        // START Language list
        li.leng
          .lenguage_changer(data-toggle="dropdown")
              span.lang(data-localize="topbar.current_lenguage")
              span.icon-down-arrow
            ul.dropdown-menu.dropdown-menu-right.animated.fadeInUpShort(role='menu')
              li
                a(href='#', data-set-lang="en") English
              li
                a(href='#', data-set-lang="ru") Russian
        // END Language list  

      // END Right Navbar

      // START Currencies bar
      .nav.navbar-nav.navbar-left.currencies-wrapper
        .currencies
          .border
            ul
              li#RUB_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 USD (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 USD (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 USD (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-down
                  span 24 605 RUB
              li#CNY_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 CNY (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 CNY (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 CNY (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-up
                  span 150 CNY
              li#ZAR_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 ZAR (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 ZAR (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 ZAR (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-down
                  span 150 ZAR
              li#RON_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 RON (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 RON (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 RON (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-down 
                  span 140 RON
            ul
              li#USD_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 USD (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 USD (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 USD (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-up
                  span 250 USD
              li#EUR_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 EUR (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 EUR (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 EUR (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-down
                  span 220 EUR
              li#JPY_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 JPY (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 JPY (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 JPY (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-up 
                  span 220 JPY
              li#DKK_info
                .dropdown-menu.dropdown-menu-right.animated.fadeInUpShort.popover_cur
                  .arrow
                  table
                    tr
                      td(data-localize="topbar.for_hour")
                      td 
                        em.icon-small-arrow-up
                        | $0.79 DKK (0.18%)
                    tr
                      td(data-localize="topbar.for_day")
                      td 
                        em.icon-small-arrow-up
                        | $5.79 DKK (1.48%)
                    tr
                      td(data-localize="topbar.for_week")
                      td 
                        em.icon-small-arrow-up
                        | $15.79 DKK (5.67%)
                span(data-toggle="dropdown")
                  em.icon-small-arrow-down 
                  span 223 DKK
          .chooser
            div.icon-down-arrow(data-toggle="open-currencies")
            .chooser_popup.dropdown-menu.animated.fadeIn
              fieldset
                .form-group.needsclick
                  .checkbox.c-checkbox.needsclick
                    label.needsclick
                      input(type='checkbox', checked='', value='RUB').needsclick
                      span.icon-checkbox_checked
                      | RUB
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked='', value='CNY')
                      span.icon-checkbox_checked
                      | CNY
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked='', value='ZAR')
                      span.icon-checkbox_checked
                      | ZAR
                  .checkbox.c-checkbox
                    label
                      input(type='checkbox', checked='', value='RON')
                      span.icon-checkbox_checked
                      | RON
                  .checkbox.c-checkbox.needsclick
                    label.needsclick
                      input(type='checkbox', checked='', value='USD')
                      span.icon-checkbox_checked
                      | USD
                  .checkbox.c-checkbox.needsclick
                    label.needsclick
                      input(type='checkbox', checked='', value='EUR')
                      span.icon-checkbox_checked
                      | EUR
                  .checkbox.c-checkbox.needsclick
                    label.needsclick
                      input(type='checkbox', checked='', value='JPY')
                      span.icon-checkbox_checked
                      | JPY
                  .checkbox.c-checkbox.needsclick
                    label.needsclick
                      input(type='checkbox', checked='', value='DKK')
                      span.icon-checkbox_checked
                      | DKK
      // END Currencies bar
  
    // END Nav wrapper

// END Top Navbar