/* ========================================================================
     Component: sidebar
 ========================================================================== */
 
$sidebar-bg:                      $aside-bg;

$sidebar-item-color:              #000;
$sidebar-item-color-hover:        #acacac;
$sidebar-item-color-active:       #000;
$sidebar-item-bg-active:          rgb(245, 247, 250);

$sidebar-icon-color:              rgb(199, 203, 211);
$sidebar-icon-color-active:       rgba(11, 36, 84, .3);

$sidebar-bullet-color:            rgba(0,0,0,.25);
$sidebar-bullet-color-active:     $sidebar-icon-color-active;

$sidebar-heading-color:           #919DA8;
$sidebar-label-color:             $sidebar-item-color;

$submenu-header-hg:               40px;   // Submenu header when hover collapse sidebar
$sidebar-item-border-wd:          4px;
$scrollbar-wd:                    17px;

.sidebar {
  height: 100%;
  padding-bottom: 20px;
  background-color: $sidebar-bg;
  -webkit-overflow-scrolling: touch;
  
  .hamburger {
    position: absolute;
    top: 87px;
    right: -7.5px;
    width: 17px;
    height: 17px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(224, 226, 231);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    z-index:100;

    &:hover {
      background-color: #f5f5f5;
    }
    
    a {
      position: absolute;
      top: -2px;
      left: -2px;
      right: 0;
      bottom: 0;
      text-align: center;
      padding-left: 2px;
      line-height: 16px;
      text-decoration: none;
      color: rgba(11, 36, 84, .3);

      &:hover {
        color: rgba(11, 36, 84, .6);
      }
    }
    em {
      font-size:7px;
    }
  }

  // draw a divider for the sidebar
  &:after {
    content:"";
    background: rgba(0,0,0,.15);
    position: absolute;
    display: block;
    top:0;
    bottom: 0;
    right: 0;
    width: 1px;
    -webkit-transform: translateZ(0px);
  }

  .nav-heading {
    padding: 12px 15px;
    color: $sidebar-heading-color;
    font-size: 13px;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
  }

  // Items
  // First main level
  > .nav {
    position: relative;
    padding-top: 42px;

    // Only the first item in sidebar
    > .nav-heading:first-child {
      padding-top: 20px;
    }

    > li {
      border-left: $sidebar-item-border-wd solid transparent;
      @include transition(border-left-color 0.4s ease);
      
      > a,
      > .nav-item {
        padding: 11px 24px;
        color: $sidebar-item-color;
        letter-spacing: -.035em;
        font-weight: normal;

        &:focus, &:hover {
          text-decoration: none;
          outline: none;
          color: $sidebar-item-color-hover;
        }
        // Item icon
        > em {
          width: 1.6em;
          display: inline-block;
          font-style: normal;
          font-weight: normal;
          line-height: 1;
          -webkit-font-smoothing: antialiased;
          color: $sidebar-icon-color;
          padding-top: 5px;
          vertical-align: top;
        }
      }

      > a span {
        display: inline-block;
        width: 91px;
        line-height: 21px;
      }

      // Active item state
      &.active,
      &.open {
        &,
        > a,
        .nav {
          background-color: $sidebar-item-bg-active;
          color: $sidebar-item-color-active;
        }
        > a > em {
          color: lighten($sidebar-item-color-active, 30%);
        }  
      }

      &.active {
        border-left-color: rgb(248, 160, 53);
      }
    }
    .label {
      display: block;
    }
  }

  > .news_block {
    @include transition(all 0.4s ease);
    margin: 11px 19px 11px 24px;
    background-color: $sidebar-item-bg-active;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    padding: 15px 15px 15px 39px;

    li {
      position: relative;
      list-style: none;
      color: #27c14c;
      line-height: 18px;
      font-size: 12px;
      padding-bottom: 18px;

      &:before {
        position: absolute;
        left:-20px;
        content:"·";
        font-size:52px;
        vertical-align:middle;
      }
      a {
        
      }
    }
  }
}
/* 
// Hides the scrollbar only on desktops
$tablet-landscape: 1025px;
@media only screen and (min-width: $tablet-landscape) {
  .sidebar:not(.show-scrollbar) {
    margin-right: -$scrollbar-wd;
    overflow-y: scroll;
  }
} */

// Sub Levels
.sidebar-subnav {
  background-color: $sidebar-bg;
  margin-bottom: 15px;
  
  > .sidebar-subnav-header {
    color: $sidebar-item-color;
    display: none;
    padding: 10px 20px;
    font-weight: bold;
  }
  
  > li  {
    border-left: 0 !important;
    > a,
    > .nav-item {
      display: block;
      position: relative;
      padding: 5px 20px;
      padding-left: 53px;
      font-size:12px;
      font-weight: normal;
      background-color: transparent !important;
      color: $sidebar-item-color;
      &:focus, &:hover {
        color: $sidebar-item-color-hover;
      }
      // submenu icons
      > em {
        display: inline-block;
        width: 1.8em;
        margin: 0 0 0 -2em;
        color: $sidebar-item-color-active; 
      }
    }

    &.active {
      > a,
      > .nav-item {
        color: $sidebar-icon-color-active;
        &:after {
          border-color: $sidebar-bullet-color-active;
          background-color: $sidebar-bullet-color-active;
        }
      }
    }

    // Nested levels
    .nav > li {
      padding-left: 5px;
    }

  } // li

  // This only happend when sidebar is collapsed and the submenu
  // visibility is toggled via js
  &.nav-floating {
    border: 1px solid rgba(0,0,0,0.15);
    margin-left: -1px;
    // we resuse the collapse element so we need to override
    &, .collapse {
      height: auto !important;
      display: block !important;
      visibility: visible !important;
    }
    > .sidebar-subnav-header {
      display: block;
    }
    // reduce padding when item is on sidebar collapsed
    li > a {
      padding-left: 20px;
      // submenu icons
      em {
        margin-left: 0;
      }
    }
  }
}

// Desktop styles
// ---------------------------------

@media only screen and (min-width: $mq-tablet) {
  
  .sidebar > .nav {

    .label {
      margin: 2px 12px 0 0;
      padding: .2em .7em;
      -moz-border-radius: 2px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
    }
  }
  
} // @media @desktop

// Collapsed state styles
.aside-collapsed {

  .sidebar {
    overflow-x: hidden;
    // Applies to first level items
    > .nav {
      
      .nav,
      > .nav-heading,
      > li > a > span {
        display: none !important;
      }

      > li {
        width: $aside-wd-collapsed - 1;
        > a, > .nav-item {
          text-indent: -$sidebar-item-border-wd;
          padding: 20px 0;
          text-align: center;
          > em {
            font-size: 1.6em; // increase icons size
            width: auto;
          }
          &:hover,
          &:focus { // accessibility
            background-color: transparent;
            > em {
              color: lighten($sidebar-item-color-active, 30%);
            }
          }
        }
      }
    }
    
    .hamburger {
      .icon-left-arrow:before {
        content: "\e900";
      }
    }

    .news_block {
      display: none !important;
    }

    // labels in menu items
    .nav {
      .label {
        position: absolute;
        top: 10px; 
        right: 0;
        text-indent: 0;
      }
    }

  } // .sidebar
} // .aside-collapsed


