/* ========================================================================
     Component: top-navbar
 ========================================================================== */
 
//
// Horizontal top navbar 
// based on the bootstrap navbar styles and markup
// ----------------------------------------------------

// helper mixin to disable bs gradient mixin
@mixin gradient-remove() {
  background-image: none;
  background-repeat: no-repeat;
  filter: none;  
}

$nav-header-wd:                 $aside-wd;
$nav-header-wd-toggled:         $aside-wd-collapsed;

$nav-top-bg:                    $brand-info;
$nav-top-bg-start:              $nav-top-bg;
$nav-top-bg-end:                $brand-info-light;
$nav-header-bg:                 transparent;

$nav-top-item-mobile:           #fff;
$nav-top-item-mobile-active:    #f5f5f5;

$nav-top-item-desktop:          #fff;
$nav-top-item-desktop-active:   #f5f5f5;

$nav-border-color:              #4d5d79;

// Navbar top layout
.topnavbar {
  -webkit-backface-visibility: hidden; /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fff;
  z-index: 1050;
  border:0;
  border-bottom: 1px solid #b0b7c2;

  .navbar-header {
    width: 155px;
    float: left;
  }

  .navbar-nav {
    margin: 0;
  }

  @media only screen and (min-width: $mq-tablet) {
    .navbar-header {
      width: $nav-header-wd;
      border-right: 1px solid $nav-border-color;
      text-align: center;
      .navbar-brand {
        width: 100%;
      }
    }
  }
}

// Navbar Mobile General styles
// ------------------------------

.topnavbar {
  @include gradient-horizontal($nav-top-bg-start, $nav-top-bg-end);
  position: relative;

  .navbar-header {
    background-color: $nav-header-bg;
    @media only screen and (min-width: $mq-tablet) {
      background-image: none;
    }
  }

  .navbar-header {
    position: relative;
    // overlaps nav-wrapper
    z-index: 11;
    
    // Reset default to allow handle via different logo size
    .navbar-brand {
      padding: 0;
    }
    
    // Different Logo size depends on the navbar state
    .brand-logo,
    .brand-logo-collapsed { 
      > img {
        margin: 0 auto;
        width: 110px;
      }
    }
    .brand-logo { 
      display: block; 
      padding: 21px 15px 21px 22px;
    }
    .brand-logo-collapsed { 
      display: none; 
      padding: 29px 15px;
    }
  }
  
  .navbar-nav > li > a,
  .navbar-nav > .open > a {
    color: $nav-top-item-mobile;
    &:hover, &:focus {
      color: $nav-top-item-mobile-active;
    }
  }

  // Navbar link active style
  .navbar-nav > .active > a,
  .navbar-nav > .open   > a {
    &, &:hover, &:focus {
      background-color: transparent;
    }
  }

  // the button to toggle search
  .navbar-nav > li > [data-toggle='navbar-search'] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 20;
    font-size: 16px;
    line-height: $navbar-height;
    color: #fff;
    padding-top: 0;
    padding-bottom: 0;
    @include transition(color .3s ease);
    @media only screen and (min-width: $mq-tablet) {
      color: $nav-top-item-desktop;
    }
  }

  .currencies {
    position: relative;
    display: none;
    margin-left: 60px;
    margin-top: 11px;
    max-width:340px;

    .border {
      float: left;
      max-width: 320px;
      max-height: 46px;
      border: 1px solid $nav-border-color;
      padding: 2px 2px 2px 8px;
      @include border-radius(3px);
      overflow: hidden;
    }
    ul {
      padding:0;
      list-style: none;
      margin: 0;
      li {
        cursor: pointer;
        display: inline-block;
        vertical-align: top;
        width: 74px;
        height: 18px;
        line-height: 18px;
        text-align: left;

        em {
            cursor: pointer;
            display: inline-block;
            font-size: 5px;
            width: 8px;
            line-height: 18px;
            text-align: center;
            vertical-align: bottom;

          &.icon-small-arrow-down {
            color: #f0504f;
          } 

          &.icon-small-arrow-up {
            color: #27c14c;
          }
        }

        span {
          font-size: 10px;
          font-weight: 300;
          letter-spacing: .03em;
          color: $nav-top-item-desktop;
        }

        .popover_cur {
          width: 165px;
          min-width: 165px;
          padding:10px;
          border-color: #eee;
          @include border-radius(3px);
          font-size:10px;
          margin-top: 28px;
          margin-left: -56px;
          top:auto;

          table {
            width: 100%;
            tr {
              td {
                em {
                  margin-left: -8px;
                }
                &:last-child {
                  padding-left: 10px;
                }
              }
            }
          }
          .arrow {
            position: absolute;
            display: block;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;

            border-width: 11px;
            left: 50%;
            margin-left: -11px;
            border-top-width: 0;
            border-bottom-color: #999999;
            border-bottom-color: #e1e1e1;
            top: -11px;

            &:after {
              position: absolute;
              display: block;
              width: 0;
              height: 0;
              border-color: transparent;
              border-style: solid;

              content: " ";
              border-width: 10px;
              top: 1px;
              margin-left: -10px;
              border-top-width: 0;
              border-bottom-color: #fafafa;
            }
          }

        }
      }
    }
    .chooser {
      position: absolute;
      display: inline;
      margin-left: 10px;

      &.open {
        .icon-down-arrow:before {
          content: "\e903";
          color: rgba(98, 111, 133, .5);
        }
       }
    }
    .icon-down-arrow {
      cursor: pointer;
      font-size: 9px;
      line-height: 50px;
      color: rgba(255,255,255,.4);
      z-index:5;
      position: relative;
      @include transition(all .3s);

      &:hover {
        color: $nav-top-item-desktop;
      }
    }

    form {
      top:10px;
      right: -72px !important;
      width: 87px;
      min-width: 87px;
      z-index:4;
      background-color: rgb(255, 255, 255);
      padding:18px 0 15px 20px;
      @include border-radius(3px);
      @include box-shadow(0 13px 51px rgba(0, 1, 0, 0.21));
      
      fieldset {
        padding-bottom: 0;
        margin-bottom: 0;
      }
      .checkbox {
        margin-top: 0;
        margin-bottom: 0;
        position: relative;
        label {
          font-size: 12px;
          font-weight: 300;
          letter-spacing:0.03em;
          line-height: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
        }
        input[type=checkbox] {
          left:-20px;
          right:-20px;
          top:0;
          bottom:0;
          width: 87px;
          height: 30px;
        }
      }
    }
  }

  .wallet {
    cursor: pointer;
    padding:25px 0;
    margin-right: 29px;
    color: rgb(255,255,255);

    @media only screen and (min-width: $mq-tablet) {
      margin-right: 59px;
    }

    &:hover {
      opacity: .9;
    }
    em {
      font-size: 15px;
      margin-right: 15px;
      vertical-align: top;
    }
    span {
      font-size: 14px;
      font-weight: 300;
      letter-spacing: 0.030em;
    }
  }

  .wallet-dropdown {
    min-width: 239px;
    max-width: 250px;
    border: 1px solid rgba(98, 111, 133, 0.5);
    @include border-radius(3px !important);
    padding:6px 12px;
    margin-top: 5px !important;
    text-align: right;
    font-size:12px;
    font-weight:300;
    line-height: 16px;
    letter-spacing: 0.003em;
    left:0 !important;
    right:auto !important;
    background-color: $content-bg;
  }

  .profile {
    padding:12px 16px;
    width: 80px;
    border-left:1px solid $nav-border-color;
    border-right:1px solid $nav-border-color;
    
    .label {
      position: absolute;
      top:28px;
      left:0;
      width: 22px;
      margin-left:-11px;
      padding: .2em 0;
      @include border-radius(2px);
    }

    img {
      width: 46px;
      height: 46px;
      @include border-radius(50%);
    }
  }

  .lenguage_changer {
    cursor: pointer;
    width: 60px;
    height: 30px;
    border: 1px solid $nav-border-color;
    @include border-radius(3px);
    margin:18px 15px 0 20px;
    font-size: 12px;
    color: $nav-top-item-desktop;
    padding:5px 9px;

    .lang {
      text-transform: uppercase;
    }

    .icon-down-arrow {
      float: right;
      font-size: 8px;
      line-height: 20px;
      color: rgba(255,255,255,.4);
      @include transition(all .3s);
    }

    &:hover {
      .icon-down-arrow {
        color: $nav-top-item-desktop;
      }
    }
  }
  
}

@media only screen and (max-width: $mq-up-to-tablet) {
  .sidebar-toggle {
    position: absolute !important;
    top: 5px;
    right: 0;
    z-index: 3001;
    // Add color only for the icon
    > em {
      color: black;
    }
  }
}

// contains elements below header
.nav-wrapper {
  padding: 0 15px;
  background-color: transparent;

  // restore floating props for navbar items
  .nav.navbar-nav {
    float: left;
    &.navbar-right {
      float: right;
    }
  }
  .nav > li {
    position: static;
    float: left;
  }
  
  // fullwidth dropdowns
  .navbar-nav .open .dropdown-menu.fullwidth {
    position: absolute;
    background-color: rgb(255, 255, 255);
    left: 0px;
    right: 0px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
  }
}

// Navbar Search Form
// ------------------------------
.topnavbar {
  
  .navbar-form {
    position: absolute;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    height: $navbar-height;
    z-index: 9001;
    @include transition(all .3s);
    border: 0;
    border-bottom: 1px solid #e1e2e3;

    .form-group {
      height: 100%;
      width: 100%;
    }

    .form-control {
      height: 100%;
      border: 0;
      border-radius: 0;
      width: 100%;
    }
    &.open {
      top: 0;
    }
    // re locate and center feedback
    .has-feedback .form-control-feedback {
      height: 30px;
      cursor: pointer;
      top: 50%;
      margin-top: -15px;
      line-height: 30px;
      margin-right: 10px;
      color: #c1c2c3;
      font-size: 1.5em;
      pointer-events: auto; // make icon clickable
    }
  }

  @media only screen and (min-width: $mq-tablet) {
    .navbar-form {
      left: $nav-header-wd;
    } 
  }

}

// Navbar Desktop styles
// ------------------------------

@media only screen and (min-width: $mq-tablet) {

  // Navbar top styles
  .topnavbar {

    background-color: $nav-top-bg;
    @include gradient-horizontal($nav-top-bg-start, $nav-top-bg-end);
    
    .navbar-header {
      @include gradient-remove();
    }

    // Dropdown link open style
    .navbar-nav > a {
      box-shadow: 0 0 0 #000 inset;
      @include transition(all .2s);
    }

    .navbar-nav > .open > a {
      &, &:hover, &:focus {
        box-shadow: 0 -3px 0 $brand-primary inset;
        @include transition(all .2s);
      }
    }

    .navbar-nav > li > a,
    .navbar-nav > .open > a {
      color: $nav-top-item-desktop;
      &:hover, &:focus {
        color: $nav-top-item-desktop-active;
      }
    }

    // relocate search toggle button
    .navbar-nav > li > [data-toggle='navbar-search'] {
      position: static;
    }

  } // .topnavbar


  .nav-wrapper {
    @include clearfix();
    position: relative;
    //background-color: $nav-top-bg;
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    // behined nav-header
    z-index: 10;

    // restore nav items positions
    .nav > li {
      position: relative;
    }

    // restore opened dropdown 
    .navbar-nav .open .dropdown-menu {
      left: auto;
      right: auto;
    }
    .navbar-nav.navbar-right .open .dropdown-menu {
      left: auto;
      right: 0;
    }
  }
}

@media only screen and (min-width: $mq-tablet) {
  .topnavbar .currencies {
    display: block;
  }
  .topnavbar .currencies-wrapper {
    @include transition(all .3s);
    margin: 0 390px 0 195px;
    float: none !important;
  }
  .aside-collapsed {
    .topnavbar {
      .navbar-header {
        .brand-logo { display: none; }
        .brand-logo-collapsed { display: block; }
      }

      .navbar-header {
        width: $nav-header-wd-toggled;
      }

      .navbar-form {
        left: $nav-header-wd-toggled;
      }

      .currencies-wrapper {
        margin-left: 55px;
      }
    }
  }
}

@media (max-width: $mq-tablet) {
  .navbar-nav {
    .open {
      .dropdown-menu {
        position: absolute;
        border: 1px solid rgba(98, 111, 133, 0.5);
        @include border-radius(3px !important);
        margin: 5px 15px !important;
        right: 0 !important;
        left: auto !important;
        background-color: #fff;
      }
    }
  }
}
